<app-navigation></app-navigation>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <h2>Авторизация</h2>
      <mat-error *ngIf="loginInvalid">
        Имя пользователя и пароль не распознаны
      </mat-error>
      <mat-form-field class="full-width-input">
        <label>
          <input matInput placeholder="Логин" formControlName="username" required>
        </label>
        <mat-error>
          Пожалуйста, представьте действующий логин
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <label>
          <input matInput type="password" placeholder="Пароль" formControlName="password" required>
        </label>
        <mat-error>
          Пожалуйста, укажите действующий пароль
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Войти</button>
    </form>
  </mat-card-content>
</mat-card>
